body{
	background-color: #FF423D;
}

.top-green-bar{
	background-color: #9BCD50;
	height: 2%;
}

.work{
	text-align: center;
	color: white;
	font-family: 'Abril Fatface', cursive;
	font-size: 100px;
}

.minus{
	text-align: center;
	color: white;
	font-family: 'Slabo 27px', serif;
	font-size: 100px;
}

.plus{
	text-align: center;
	color: white;
	font-family: 'Slabo 27px', serif;
	font-size: 100px;
}

.time{
	text-align: center;
	color: white;
	font-family: 'Slabo 27px', serif;
	font-size: 100px;
}

.pause-play{
	text-align: center;
	color: white;
	font-size: 60px;
}

.mid-buffer{
	height: 5%;
}

.break{
	text-align: center;
	color: white;
	font-size: 100px;
	font-family: 'Pacifico', cursive;
}