body{
	background-color: #FF423D;
}

.top-green-bar{
	background-color: #9BCD50;
	height: 2%;
}

.work{
	text-align: center;
	color: white;
	font-family: 'Abril Fatface', cursive;
	font-size: 100px;
}

.minus{
	text-align: center;
	color: white;
	font-family: 'Slabo 27px', serif;
	font-size: 100px;
}

.minus:hover{
	cursor:default;
}



.plus{
	text-align: center;
	color: white;
	font-family: 'Slabo 27px', serif;
	font-size: 100px;
}
.plus:hover{
	cursor:default;
}

.time{
	text-align: center;
	color: white;
	font-family: 'Slabo 27px', serif;
	font-size: 100px;
}
.time:hover{
	cursor:default;
}

.pause-play{
	text-align: center;
	color: white;
	font-size: 60px;
}

.pause-play:hover{
	cursor:default;
}
#work-pause-play:hover{
	color: #9BCD50;
}

#work-pause-play:active{
	color: #003300;
}


#work-minus:hover{
	color: #9BCD50;
}

#work-minus:active{
	color: #003300;
}

#work-plus:hover{
	color: #9BCD50;
}

#work-plus:active{
	color: #003300;
}

.mid-buffer{
	height: 5%;
}

.break{
	text-align: center;
	color: white;
	font-size: 100px;
	font-family: 'Pacifico', cursive;
}

#break-minus:hover{
	color: #9BCD50;
}

#break-minus:active{
	color: #003300;
}

#break-plus:hover{
	color: #9BCD50;
}

#break-plus:active{
	color: #003300;
}

#break-pause-play:hover{
	color: #9BCD50;
}

#break-pause-play:active{
	color: #003300;
}